@font-face {
  font-family: "iconfont"; /* Project id 2824048 */
  src: url('iconfont.woff2?t=1668856733087') format('woff2'),
       url('iconfont.woff?t=1668856733087') format('woff'),
       url('iconfont.ttf?t=1668856733087') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tuichu:before {
  content: "\e892";
}

.icon-gerenxinxi:before {
  content: "\e617";
}

.icon-bofangjilu:before {
  content: "\e8ad";
}

.icon-lajitong:before {
  content: "\e655";
}

.icon-huifu:before {
  content: "\e644";
}

.icon-dianzan1:before {
  content: "\ec7f";
}

.icon-dianzan:before {
  content: "\e606";
}

.icon-chakan:before {
  content: "\e666";
}

.icon-youxiang:before {
  content: "\e678";
}

.icon-csdn:before {
  content: "\e605";
}

.icon-github:before {
  content: "\e604";
}

.icon-shouye:before {
  content: "\e610";
}

.icon-ganxingqu:before {
  content: "\e630";
}

.icon-luntan:before {
  content: "\e641";
}

.icon-youlianguanli:before {
  content: "\e663";
}

.icon-sousuo:before {
  content: "\e603";
}

.icon-pinglun:before {
  content: "\e6ad";
}

.icon-redu:before {
  content: "\e619";
}

.icon-fenlei:before {
  content: "\e63f";
}

.icon-daduoyun:before {
  content: "\e62d";
}

.icon-taiyangyu-yewan:before {
  content: "\e659";
}

.icon-tianqi:before {
  content: "\e61b";
}

.icon-Taiyang:before {
  content: "\e602";
}

.icon-taiyang:before {
  content: "\e6db";
}

.icon-bingbao:before {
  content: "\e622";
}

.icon-duoyun:before {
  content: "\e623";
}

.icon-qiangduiliu:before {
  content: "\e624";
}

.icon-baoyu:before {
  content: "\e625";
}

.icon-dayu:before {
  content: "\e626";
}

.icon-yintian:before {
  content: "\e627";
}

.icon-qingtian:before {
  content: "\e628";
}

.icon-xiaoxue:before {
  content: "\e629";
}

.icon-zhongxue:before {
  content: "\e62a";
}

.icon-wanqingtian:before {
  content: "\e62b";
}

.icon-yujiaxue:before {
  content: "\e62c";
}

.icon-wanduoyun:before {
  content: "\e62e";
}

.icon-leizhenyu:before {
  content: "\e62f";
}

.icon-24gf-pause2:before {
  content: "\ea81";
}

.icon-24gf-play:before {
  content: "\ea82";
}

.icon-yuan:before {
  content: "\e63d";
}

.icon-right:before {
  content: "\e600";
}

.icon-dingyue-copy-copy-copy:before {
  content: "\e601";
}

.icon-right1:before {
  content: "\e7dd";
}

.icon-top2:before {
  content: "\ecd5";
}

.icon-right2:before {
  content: "\e631";
}

